$darkmode: true;
$primary: #5ad5f9;
$onPrimary: #003542;
$primaryContainer: #004e60;
$onPrimaryContainer: #b1ebff;
$secondary: #b2cad3;
$onSecondary: #1d343b;
$secondaryContainer: #344a52;
$onSecondaryContainer: #cee6f0;
$tertiary: #c1c3eb;
$onTertiary: #2b2e4d;
$tertiaryContainer: #414464;
$onTertiaryContainer: #dfe0ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1011;
$background: #0F1011;
$onBackground: #e1e3e4;
$surface: #191c1d;
$onSurface: #e1e3e4;
$surfaceVariant: #40484b;
$onSurfaceVariant: #bfc8cc;
$outline: #899296;
$shadow: #000000;
$inverseSurface: #e1e3e4;
$inverseOnSurface: #2e3132;
$inversePrimary: #00677e;
