* {
    main-bg:            #14181DE6;
    main-fg:            #A6BAB5;
    main-br:            #4A5465;
    main-ex:            #3D393C;
    select-bg:          #A6BAB5;
    select-fg:          #14181D;
}
